<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616621451530-706limi70geteot129s6fa8o1j4heh8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616621451530-706limi70geteot129s6fa8o1j4heh8g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>616621451530-743ac6uqr6jr9dmcojt3bpvuvio8qt1p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0TLFE9ysK3aTj2b-QV0CANHyiOzKvOi0</string>
	<key>GCM_SENDER_ID</key>
	<string>616621451530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.herokuapp.zaidbashir.studydegrees.studydegrees</string>
	<key>PROJECT_ID</key>
	<string>studydegrees</string>
	<key>STORAGE_BUCKET</key>
	<string>studydegrees.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616621451530:ios:16da0aa6777cadc492b2f3</string>
</dict>
</plist>